@model IEnumerable<SolnTourCore.Presentation.Models.Hotel>
@{
	ViewData["Title"] = "Home Page";
}


<table>

	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.HotelId)</td>
			<td>@Html.DisplayFor(modelItem => item.HotelName)</td>
		    <td>@Html.DisplayFor(modelItem => item.Place.PlaceName)</td>
		    <td>@Html.DisplayFor(modelItem => item.Place.Country.CountryName)</td>
            <td>@Html.DisplayFor(modelItem => item.Accomodation.AccomodationName)</td>

		</tr>

	}
</table>

