@using SolnTourCore.Presentation.ViewModels
@model List<HotelViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_TourLayout";
    HotelViewModel maxItaly = ViewBag.MaxItaly;
    HotelViewModel maxSpain = ViewBag.MaxSpain;
    HotelViewModel maxThailand = ViewBag.MaxThailand;

    HotelViewModel minTurkey = ViewBag.MinTurkey;
    HotelViewModel minGreece = ViewBag.MinGreece;
    HotelViewModel minSpain = ViewBag.MinSpain;
    HotelViewModel minItaly = ViewBag.MinItaly;
    HotelViewModel minBali = ViewBag.MinBali;
    HotelViewModel minEgypt = ViewBag.MinEgypt;
}



<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="overlay"></div>
            <img src=@Url.Content("~/MainLayout/images/templatemo_slide_1.jpg") alt="Special 1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$@maxItaly.Price.ToString("F2")</span>
                            <h3 class="title">@maxItaly.Place.PlaceName, @maxItaly.Place.Country.CountryName</h3>
                            <p title="@maxItaly.Location.Description">@maxItaly.Location.LocationName</p>
                            <a href="#" class="slider-btn">Reserve Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="overlay"></div>
            <img src=@Url.Content("~/MainLayout/images/templatemo_slide_2.jpg") alt="Special 2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$@maxSpain.Price.ToString("F2")</span>
                            <h3 class="title">@maxSpain.Place.PlaceName, @maxSpain.Place.Country.CountryName</h3>
                            <p title="@maxSpain.Location.Description">@maxSpain.Location.LocationName</p>
                            <a href="#" class="slider-btn">Reserve Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="overlay"></div>
            <img src=@Url.Content("~/MainLayout/images/templatemo_slide_3.jpg") alt="Special 3">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$@maxThailand.Price.ToString("F2")</span>
                            <h3 class="title">@maxThailand.Place.PlaceName, @maxThailand.Place.Country.CountryName</h3>
                            <p title="@maxThailand.Location.Description">@maxThailand.Location.LocationName</p>
                            <a href="#" class="slider-btn">Reserve Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div> <!-- /.flexslider -->

<!------------------------------------------------------------------------------------------------------------------------->

<div class="container">
    <div class="row">
        <div class="our-listing owl-carousel">
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        <h4>@minTurkey.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_1.jpg") alt="destination 1">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minTurkey.Place.PlaceName</h5>
                    <span>@minTurkey.HotelName, @minTurkey.RoomType.RoomTypeName, @minTurkey.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@minTurkey.Price.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minGreece.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_2.jpg") alt="destination 2">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minGreece.Place.PlaceName</h5>
                    <span>@minGreece.HotelName, @minGreece.RoomType.RoomTypeName, @minGreece.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@minGreece.Price.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@maxSpain.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_3.jpg") alt="destination 3">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minSpain.Place.PlaceName</h5>
                    <span>@minSpain.HotelName, @minSpain.RoomType.RoomTypeName, @minSpain.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@minSpain.Price.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minItaly.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_4.jpg") alt="destination 4">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minItaly.Place.PlaceName</h5>
                    <span>@minItaly.HotelName, @minItaly.RoomType.RoomTypeName, @minItaly.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@minItaly.Price.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minBali.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_5.jpg") alt="destination 5">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minBali.Place.PlaceName</h5>
                    <span>@minBali.HotelName, @minBali.RoomType.RoomTypeName, @minBali.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@minBali.Price.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minEgypt.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_6.jpg") alt="destination 6">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minEgypt.Place.PlaceName</h5>
                    <span>@minEgypt.HotelName, @minEgypt.RoomType.RoomTypeName, @minEgypt.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@minEgypt.Price.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
        </div> <!-- /.our-listing -->
    </div> <!-- /.row -->
</div> <!-- /.container -->

<div class="middle-content"></div>
