@using SolnTourCore.Presentation.ViewModels
@model List<TourViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_TourLayout";
    TourViewModel maxItaly = ViewBag.MaxItaly;
    TourViewModel maxSpain = ViewBag.MaxSpain;
    TourViewModel maxThailand = ViewBag.MaxThailand;

    TourViewModel minTurkey = ViewBag.MinTurkey;
    TourViewModel minGreece = ViewBag.MinGreece;
    TourViewModel minSpain = ViewBag.MinSpain;
    TourViewModel minItaly = ViewBag.MinItaly;
    TourViewModel minBali = ViewBag.MinBali;
    TourViewModel minEgypt = ViewBag.MinEgypt;
}



<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="overlay"></div>
            <img src=@Url.Content("~/MainLayout/images/templatemo_slide_1.jpg") alt="Special 1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$@ViewBag.MaxItalyTotalPrice.ToString("F2")</span>
                            <h3 class="title">@maxItaly.Hotel.Place.PlaceName, @maxItaly.Hotel.Place.Country.CountryName</h3>
                            <p title="@maxItaly.Hotel.Location.Description">@maxItaly.Hotel.Location.LocationName</p>
                            <a href="#" class="slider-btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="overlay"></div>
            <img src=@Url.Content("~/MainLayout/images/templatemo_slide_2.jpg") alt="Special 2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$@ViewBag.MaxSpainTotalPrice.ToString("F2")</span>
                            <h3 class="title">@maxSpain.Hotel.Place.PlaceName, @maxSpain.Hotel.Place.Country.CountryName</h3>
                            <p title="@maxSpain.Hotel.Location.Description">@maxSpain.Hotel.Location.LocationName</p>
                            <a href="#" class="slider-btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="overlay"></div>
            <img src=@Url.Content("~/MainLayout/images/templatemo_slide_3.jpg") alt="Special 3">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$@ViewBag.MaxThailandTotalPrice.ToString("F2")</span>
                            <h3 class="title">@maxThailand.Hotel.Place.PlaceName, @maxThailand.Hotel.Place.Country.CountryName</h3>
                            <p title="@maxThailand.Hotel.Location.Description">@maxThailand.Hotel.Location.LocationName</p>
                            <a href="#" class="slider-btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div> <!-- /.flexslider -->

<!------------------------------------------------------------------------------------------------------------------------->

<div class="container">
    <div class="row">
        <div class="our-listing owl-carousel">
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        <h4>@minTurkey.Hotel.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_1.jpg") alt="destination 1">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minTurkey.Hotel.Place.PlaceName</h5>
                    <span>@minTurkey.Hotel.HotelName, @minTurkey.Hotel.RoomType.RoomTypeName, @minTurkey.Hotel.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@ViewBag.MinTurkeyTotalPrice.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minGreece.Hotel.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_2.jpg") alt="destination 2">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minGreece..HotelPlace.PlaceName</h5>
                    <span>@minGreece.Hotel.HotelName, @minGreece.Hotel.RoomType.RoomTypeName, @minGreece.Hotel.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@ViewBag.MinGreeceTotalPrice.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@maxSpain.Hotel.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_3.jpg") alt="destination 3">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minSpain.Hotel.Place.PlaceName</h5>
                    <span>@minSpain.Hotel.HotelName, @minSpain.Hotel.RoomType.RoomTypeName, @minSpain.Hotel.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@ViewBag.MinSpainTotalPrice.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minItaly.Hotel.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_4.jpg") alt="destination 4">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minItaly.Hotel.Place.PlaceName</h5>
                    <span>@minItaly.Hotel.HotelName, @minItaly.Hotel.RoomType.RoomTypeName, @minItaly.Hotel.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@ViewBag.MinItalyTotalPrice.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minBali.Hotel.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_5.jpg") alt="destination 5">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minBali.Hotel.Place.PlaceName</h5>
                    <span>@minBali.Hotel.HotelName, @minBali.Hotel.RoomType.RoomTypeName, @minBali.Hotel.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@ViewBag.MinBaliTotalPrice.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        
                        <h4>@minEgypt.Hotel.Place.Country.CountryName</h4>
                    </div>
                    <img src=@Url.Content("~/MainLayout/images/destination_6.jpg") alt="destination 6">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>@minEgypt.Hotel.Place.PlaceName</h5>
                    <span>@minEgypt.Hotel.HotelName, @minEgypt.Hotel.RoomType.RoomTypeName, @minEgypt.Hotel.HotelCategory.HotelCategoryName</span>
                    <a href="#" class="price-btn">$@ViewBag.MinEgyptTotalPrice.ToString("F2") Reserve Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
        </div> <!-- /.our-listing -->
    </div> <!-- /.row -->
</div> <!-- /.container -->

<div class="middle-content"></div>
