@using SolnTourCore.Presentation.ViewModels;
@model List<HotelViewModel>
@{
    ViewData["Title"] = "Tour Search";
    Layout = "_TourLayout";
    List<CountryViewModel> counties = ViewBag.Countries;
    List<HotelCategoryViewModel> hotelCategories = ViewBag.HotelCategories;
    List<DepartureCityViewModel> departureCities = ViewBag.DepartureCities;
    List<RecreationViewModel> recreationTypes = ViewBag.RecteationTypes;
}

<div class="page-top" id="templatemo_search">
</div> <!-- /.page-header -->
<div class="middle-content">
    <div class="container">

        <div class="row">
            <!-- first row -->
            <!-- first column -->
            <div class="tour-search-item">
                <h3 class="widget-title">Поиск тура:</h3>
                @using (Html.BeginForm("FindTour", "Home", FormMethod.Post))
            {
                    <p>
                        <label for="countryName">Countries: </label>
                        <select name="countryName">
                            @foreach (var item in counties)
                            {
                                <option value="@item.CountryName">@Html.DisplayFor(modelItem => item.CountryName)</option>
                            }
                        </select>
                    </p>
                <p>
                    <label for="hotelCategoryName">Hotel Categories: </label>
                    <select name="hotelCategoryName">
                        <option value="all">All</option>
                        @foreach (var item in hotelCategories)
                        {
                            <option value="@item.HotelCategoryName">@Html.DisplayFor(modelItem => item.HotelCategoryName)</option>
                        }
                    </select>
                </p>
                <p>
                    <label for="recreationTypeName">Recreation Types: </label>
                    <select name="recreationTypeName">
                        <option value="all">All</option>
                        @foreach (var item in recreationTypes)
                        {
                            <option value="@item.RecreationName">@Html.DisplayFor(modelItem => item.RecreationName)</option>
                        }
                    </select>
                </p>
                <p>
                    <label for="departureCityName">Departure City: </label>
                    <select name="departureCityName">
                        <option value="all">All</option>
                        @foreach (var item in departureCities)
                        {
                            <option value="@item.CityName">@Html.DisplayFor(modelItem => item.CityName)</option>
                        }
                    </select>
                </p>

                <p>
                    <label for="sortBy">Sort Price by: </label><br/>
                    @Html.RadioButton("sortBy", 0, true)
                    <span>Descending</span><br/>
                    @Html.RadioButton("sortBy", 1)
                    <span>Ascending</span><br />
                </p>
                    <p>
                        <input type="submit" value="Поиск тура" />
                    </p>

                }
            </div>
        </div>
    </div>
</div>
